@import "../../global.scss";

.portfolio {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0px 5% 0px;
  

  h1 {
    font-size: 60px;
  }

  ul {
    margin: 10px;
    padding: 0;
    list-style: none;
    display: flex;
    padding-top: 2rem;
    padding-bottom: 4rem;

    li {
      font-size: 30px;
      margin-right: 80px;
      padding: 13px;
      border-radius: 5px;
      cursor: pointer;
      box-shadow: inset 0 0 0 0 $mainColor;
      -webkit-transition: all ease 0.8s;
      -moz-transition: all ease 0.8s;
      transition: all ease 0.8s;

      &.active {
        background-color: $mainColor;
        box-shadow: inset 300px 0 0 0 $mainColor;
      }
    }
  }
  .container {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    .item {
      width: 500px;
      height: 350px;
      border-radius: 20px;
      margin: 10px 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: rgb(79, 126, 226);
      position: relative;

      h3 {
        position: absolute;
        font-size: 20px;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
      }

      &:hover {
        color: white;
        background-color: rgb(79, 126, 226);
        border-radius: 10px;

        img {
          opacity: 0.3;
          z-index: 0;
        }
      }
    }
  }
}
