@import "../../global.scss";

.portfolioList {
    font-size: 25px;
    padding: 6px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1;

    &.active{
        background-size: 100px;
    }
}