@import "../../global.scss";

.portfolioList {
    font-size: 25px;
    padding: 6px;
    border-radius: 5px;
    cursor: pointer;

    &.active{
        background-color: $mainColor;
        background-size: 100px;
    }
}